* {
  margin: 0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}
ul li{list-style:none;}
#header {
	width:100%;
	height:80px;
	line-height:80px;
	background-color: blue;
	color: white;
	text-align: center;
}
#footer {
      position: absolute; /* fixed */
      bottom: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      background-color: blue;
      color: #ffffff;
      text-align: center;
      font-size: 11px;
}
#nav {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: skyblue;
  color: white;
}
	
#nav ul li a{
  /* display:inline-block */
  float: left;
  padding: 0 10px;
  
}

#section {
	position: fixed;
	width : 100%;
	height: 100%;
	background:lightgray;
	/*background: rgba(127,127,127,0.1);*/
}


#section p{
	padding: 20px;
}

.title{
	padding: 30px 0 20px 0	;
	text-align: center;
}
.table_line{
	margin: 0 auto;
	overflow: auto;
	border: 1px solid black;
}
.table_line th, .table_line td{
	padding: 5px;
	border: 1px solid black;
}